.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
 
}

.pomodoro-container{

  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 3rem 7rem 7rem 3rem;
  align-content: start;
  padding:1rem;
  border: 1px solid black;
  max-width: 90vw;
  max-width: 90vw;
  min-height: 20rem;
  box-sizing: border-box;

}

h1{
  grid-column: 1 / span 2;
  margin: 0;
  justify-self: center;
}

.break-length-container{
  justify-self: center;
  text-align: center;
}

.break-length-minutes{
  display: inline;
  font-weight: bold;
  font-size: 2rem;
} 

.session-length-container{
  justify-self: center;
  text-align: center;

}

.session-length-minutes{
  display: inline;
  font-weight: bold;
  font-size: 2rem;
} 

.session-timer-container{
  grid-column: 1 / span 2;
  justify-self: center;
  text-align: center;
}

.session-timer-header{

  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 2rem;
  margin-bottom: 0;

}

.session-timer{
  margin-top: 0.3rem;
  margin-bottom: 0;
}

.button-bar{
  grid-column: 1 / span 2;
  justify-self: center;
}